iframe {
    border: 0.1em solid teal;
  }

#next {
    color:white!important;
    background: rgb(13, 15, 161) !important;
    border: rgb(13, 15, 161) !important;
    /* padding: 15px 32px !important; */
}
.nextContainer{
    margin-top: 0.2em;
}
.guessBox{
    width: 12em;
    margin: 0 auto;

}